/* global style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.padding-content {
  padding: 0% 10%;
}

/* header style start */
.header {
  background-color: #0d0d0d;
  background-image: url(../images/bg-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.header-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header-container ul li {
  list-style: none;
}

.header-container ul li a {
  text-decoration: none;
  color: #c9c9c9;
}

/* banner style start */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.625rem;
}

.banner-title {
  font-size: 3.75rem;
  margin-bottom: 1.375rem;
  color: #ffffff;
  font-weight: 500;
}

.banner-description {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 2.75rem;
  color: #c9c9c9;
}

.btn-common a {
  text-decoration: none;
  color: #0d0d0d;
  background-color: #3dd47e;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.938rem 1.813rem;
  border-radius: 3.125rem;
}

/* brand style start */
.brand-container {
  background-color: #0d0d0d;
  padding-top: 5.625rem;
  padding-bottom: 11.031rem;
}

.brand-content {
  display: flex;
  gap: 3.125rem;
  padding-bottom: 2.813rem;
}

.brand-title-1 {
  color: #ffffff;
  font-size: 1.563;
  font-weight: 500;
}

.brand-title-2 {
  color: #c9c9c9;
  opacity: 0.5;
  font-size: 1.563rem;
  font-weight: 500;
  position: relative;
  padding-left: 1.875rem;
}

.brand-title-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.125rem;
  background-color: #c9c9c9;
  opacity: 0.5;
}

.brand-logo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}

.brand-logo-container {
  width: 14.375rem;
  height: 6.25rem;
  background-color: #181818;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo-container img {
  max-width: 100%;
  max-height: 100%;
}

/* service style start */
.service-container {
  background-color: #0d0d0d;
  background-image: url(../images/bg-service.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.service-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.service-box {
  width: 17.938rem;
  height: 15rem;
  background-color: #181818;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}

.service-box img {
  width: 3.75rem;
  height: auto;
  margin-bottom: 1.25rem;
}

.service-box-title {
  color: #c9c9c9;
  font-size: 1.3rem;
  font-weight: 400;
}

.service-content-box {
  margin-left: 3rem;
}

.service-title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
}

.service-description {
  color: #c9c9c9;
  font-size: 1.125rem;
  font-weight: 400;
}

.service-box-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-left: 3rem;
}

#service-content {
  padding-top: 1.75rem;
}

/* why choose style start */
.why-choose-container {
  background-color: #0d0d0d;
  padding-top: 9.375rem;
}

.why-choose-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-choose-title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 1.375rem;
}

.why-choose-description {
  color: #c9c9c9;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 1.688rem;
}
